---
layout: default
---

<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" type="text/css" href="../assets/css/indexstyle.css">
    <script src="https://kit.fontawesome.com/fb455f48b1.js" crossorigin="anonymous"></script>
 
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  </head>

   <title>index</title>

<body>
  <header>
    <a href="../index.html">
      <div class="logo">
        <img src="../assets/images/doublespeak_logo.png" alt="Click here to return to the homepage.">
      </div> 
    </a>
    <div class="nav">
      <ul>
        <li><a href="../contentindex.html">index</a></li>
        <li><a href="../search.html">search</a></li>
        <li><a href="../about.html">about</a></li>
        <li><a href="../submit.html">submit</a></li>
        <li><a href="../issues.html">issues</a></li>
      </ul>
    </div>
  </header>
  <div class="index">
    <h1>index</h1>
    <p class="index-p">Here, you can find lists of all the authors, translators, and languages featured so far in <em>DoubleSpeak</em>.</p>
    <div class="dropdown">
    <button class="dropdown" onclick="myFunction(1)">authors &#8964;</i></button>
      <div class="dropdown-content" id="dropdown1">
        <ul class="content-u">
        {% for item in site.data.authors %}
          <li class="content-l"><a href="../author_tags/{{item.pid | slugify: 'latin' | replace: '-','_' }}">{{item.pid}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <br>
    <div class="dropdown">
    <button class="dropdown" onclick="myFunction(2)">translators &#8964;</i></button>
      <div class="dropdown-content" id="dropdown2">
        <ul class="content-u">
        {% for item in site.data.translators %}
        <li class="content-l"><a href="../translator_tags/{{item.pid | slugify: 'latin' | replace: '-','_' }}">{{item.pid}}</a></li>
        {% endfor %}
        </ul>
      </div>
      </div>
    </div>
    <br>
    <div class="dropdown">
    <button class="dropdown" onclick="myFunction(3)">languages &#8964;</button>
      <div class="dropdown-content" id="dropdown3">
        <div class="language">
        <ul class="language-u">
        {% for item in site.data.languages %}
        <li class="language-l"><a href="../language_tags/{{item.pid | slugify: 'latin' | replace: '-','_'}}">{{item.pid}}</a></li>
        {% endfor %}
        </ul>
        </div>
      </div>
    </div>
    </div>
    <br>
  </div>
  <!-- so the dropdowns work! the only thing is that now the buttons close if you click anywhere EXCEPT the button, but it would be nice to have the button also close when you click on it again -->
  <script>
let closeDropdown = function() {

}
function myFunction(num) {
  closeDropdown();
  let el = document.getElementById("dropdown" + num);  
  if (el) {
    el.classList.toggle("show");
    closeDropdown = function() {
        el.classList.remove("show");
    }
  } else {
    closeDropdown = function() {
    }
  }
}
window.onclick = function(event) {
  if (!event.target.matches('.dropdown')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
<html>
