---
layout: default
---
<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" type="text/css" href="https://doublespeakjournal.org/assets/css/indexstyle.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

   <title>index</title>

<body>
  {% include navbar.html %}
  <div class="index">
    <h1>index</h1>
    <p class="index-p">Here, you can find an index of all the authors, translators, and languages featured so far in <em>DoubleSpeak</em>.</p>
    <div class="dropdown">
    <button class="dropdown" onclick="myFunction(1)">authors &#8964;</button>
      <div class="dropdown-content" id="dropdown1">
        <ul class="content-u">
          {% assign authors = '' | split: ", " %}
          {% for issues_hash in site.data.issues %}
            {% assign issues = issues_hash[1] %}
            {% for poem in issues %}
              {% if poem.pagetype == "submission" or poem.pagetype == "musing" or poem.pagetype == "frontmatter" %}
                {% assign poem_authors = poem.author | split: '; ' %}
                {% for indiv_author in poem_authors %}
                  {% assign authors = authors | push: indiv_author %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          {% assign sortedAuthors = authors | sort | uniq %}
        {% for aut in sortedAuthors %}
          <li class="content-l"><a href="https://doublespeakjournal.org/author_tags/{{aut | slugify: 'latin' | replace: '-','_' }}">{{ aut }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <br>
    <div class="dropdown">
    <button class="dropdown" onclick="myFunction(2)">translators &#8964;</button>
      <div class="dropdown-content" id="dropdown2">
        <ul class="content-u">
          {% assign translators = '' | split: ", " %}
          {% for issues_hash in site.data.issues %}
            {% assign issues = issues_hash[1] %}
            {% for poem in issues %}
              {% if poem.pagetype == "submission" %}
                {% assign poem_translators = poem.translator | split: '; ' %}
                {% for indiv_translator in poem_translators %}
                  {% assign translators = translators | push: indiv_translator %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          {% assign sortedtranslators = translators | sort | uniq %}
        {% for trans in sortedtranslators %}
          <li class="content-l"><a href="https://doublespeakjournal.org/translator_tags/{{trans | slugify: 'latin' | replace: '-','_' }}">{{trans}}</a></li>
        {% endfor %}
        </ul>
      </div>
      </div>
    </div>
    <br>
<!--    <div class="dropdown">
    <button class="dropdown" onclick="myFunction(3)">languages &#8964;</button>
      <div class="dropdown-content" id="dropdown3">
        <div class="language">
        <ul class="language-u">
          {% assign languages = '' | split: "; " %}
          {% for issues_hash in site.data.issues %}
            {% assign issues = issues_hash[1] %}
            {% for poem in issues %}
              {% if poem.pagetype == 'submission' or poem.pagetype == 'musing' %}
              {% assign poem_languages = poem.language | split: '; ' %}
                {% for indiv_language in poem_languages %}
                  {% assign languages = languages | push: indiv_language %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            {% endfor %}
          {% assign sortedlanguages = languages | sort | uniq %}
        {% for lang in sortedlanguages %}
          <li class="language-l"><a href="https://doublespeakjournal.org/language_tags/{{lang | slugify: 'latin' | replace: '-','_'}}">{{lang}}</a></li>
        {% endfor %}
        </ul>
        </div>
      </div>
    </div> -->
    </div>
    <br>
  </div>
  <!-- so the dropdowns work! the only thing is that now the buttons close if you click anywhere EXCEPT the button, but it would be nice to have the button close when you click on it again -->
  <script>
let closeDropdown = function() {

}
function myFunction(num) {
  closeDropdown();
  let el = document.getElementById("dropdown" + num);  
  if (el) {
    el.classList.toggle("show");
    closeDropdown = function() {
        el.classList.remove("show");
    }
  } else {
    closeDropdown = function() {
    }
  }
}
window.onclick = function(event) {
  if (!event.target.matches('.dropdown')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
<style>
.tcontents {
  background-image: url('https://doublespeakjournal.org/assets/images/background_logo_ds.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>
<html>

