---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="../assets/css/tcontentsstyle.css">
      <link rel="stylesheet" href="https://use.typekit.net/ixt2gok.css">
    <script>
  (function(d) {
    var config = {
      kitId: 'lit0ksd',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);</script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
</head>

   <title>table of contents</title>

<body>
  <header>
    <a href="../index.html">
      <div class="logo">
        <img src="../assets/images/doublespeak_logo.png" alt="Click here to return to the homepage.">
      </div>
    </a>
    <div class="nav">
      <ul>
        <li><a href="contentindex.html">index</a></li>
        <li><a href="search.html">search</a></li>
        <li><a href="about.html">about</a></li>
        <li><a href="submit.html">submit</a></li>
        <li><a href="issues.html">issues</a></li>
      </ul>
    </div>
  </header>
  <div class="tcontents">
    <h3><i>Spring 2021 issue</i></h3>
    <h1 class="tcontents-title">table of contents</h1>
    <div class="toc-container">

      <div class="left">
        {% for item in site.data.toc_2021 %}
          {% if item.pagetype == "frontmatter" %}
              <div class="tcleft">
                <h2 class="tcleft"><a href="frontmatter/{{item.pid}}">{{ item.transtitle }}</a></h2>
              </div>
          {% elsif item.pagetype == "musing" or item.pagetype == "interview" %}
            <div class="tcleft">
              <h2 class="tcleft"><a href="poems_2021/{{item.pid}}">{{ item.transtitle }}</a></h2>
              <h3 class="tcleft"> by {{ item.author }}</h3>
            </div>
          {% elsif item.pagetype == "content" %}
            <div class="tcleft">
              <h2 class="tcleft"><a href="poems_2021/{{item.pid}}">{{ item.transtitle }}</a>
              {% if item.title %}
                  <a>[<span lang= "{{ item.lang }}" dir="ltr">{{ item.title }}</span>]</a>
              {% endif %}</h2>
              <h3 class="tcleft">written by {{ item.author }} <br>translated from {{ item.language }} by {{ item.translator }}</h3>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

</body>
<footer> 
</footer>
<html>
