{% assign placeholder = include.placeholder | default: 'Search... ' %}
{% assign key = include.search | default: 'main' %}
{% assign config = site.search[key] %}
{% assign index = config.index | absolute_url %}
{%- capture fields -%}
  {%- for collection in config.collections -%}
    {%- for field in collection[1].fields -%}
      {{ field }}{% unless forloop.last %}|||{% endunless %}
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}
{% assign fields = fields | split: '|||' | uniq %}

<div class='search-block'>
  <h1>search</h1>
    <p class="search-p">Looking for a poem? Search by author, translator, language, or key words to find translations across all issues of <i>DoubleSpeak</i>!</p>
  <div class='input-group'>
    <input type='text' class='form-control' id='search' name='x' placeholder='{{ placeholder }}'>
  </div>
  <div id='results'></div>
</div>

<script type="text/javascript" src="https://doublespeakjournal.org/assets/elasticlunr.min.js"></script>

<script type="text/javascript" src="https://doublespeakjournal.org/assets/search-ui.js"></script>

<script type="text/javascript">
  var fields    = ["transtitle","title","author","translator","poem","transpoem","language"];
  var indexFile = "https://doublespeakjournal.org/search/index.json";
  var url       = "https://doublespeakjournal.org";

  $(document).ready(function() {
    startSearchUI(fields, indexFile, url);
  });
</script>

