body{
	background-color:#fffdfa;
	text-align:left;
	margin: 0px;
	font-size: 20px;
}

html,body {
	height: 100%;
}

a {
	text-decoration: none;
}

/*navigation bar*/

.logo img {
	position: static;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-left: 40px;
	height: 80px;
	width: 80px;
}

.nav {
	position: static;
	height: 40px;
	padding: 5px;
	padding-bottom: 30px;
	border-bottom: solid black 1px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}
.nav li {
	float: right;
}
.nav li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	color: black;
	text-align: right;
	padding: 10px 16px;
	border: transparent solid 1px;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.3s;
}
.nav a:hover{
  	border: solid black 1px;
}

/* text */ /*should we make consistent sizing for h1 h2 p across all classes?
seems redundant otherwise */

h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
    line-height: 38.4px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.note h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 28px;
	line-height: 34.4px;
	color: black;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.note p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.note p em {
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	color: black;
	text-align: left;
}

.note p strong {
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
	text-align: left;
}

.note ul{
	list-style-type: circle;
	list-style-position: outside;
	width: 70%;
}

.note li{
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
}


.abio h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 28px;
	line-height: 34.4px;
	color: black;
	text-align: left;
	margin-left: 10px;
}


.abio p {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.abio p em {
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	color: black;
	text-align: left;
}

.abio p strong {
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.tbio h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 28px;
	line-height: 34.4px;
	color: black;
	text-align: left;
	margin-left: 10px;
}

.tbio p {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}


.tbio p em{
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	color: black;
	text-align: left;
}

.tbio p strong{
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
	text-align: left;
}


/*top links*/

.tcontentslink {
	height: 70px;
}

.tcontentslink a {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	margin: 80px 0 0 -80px;
	color: black;
	text-decoration: none;
}

.tcontentslink a:hover {
	text-decoration: underline;
}

.poemtags {
	margin: -63px 30px 0 0;
	column-width: 50%;
}

.poemtags ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.poemtags li {
	float: right;
}

.poemtags li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	color: black;
	border: solid black 1px;
	text-align: right;
	padding: 13px 25px 13px 25px;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
}

.poemtags a:hover {
	color: #fffdfa;
	background-color: black;
	text-decoration: none;
}

/*main content*/ 

.container {
	margin: 0 350px 0 350px;
} 

.transnote {
	clear: left;
	float: left;
}

.note {
	margin: -40px 0 30px 30px;
}

.abio {
	float: left;
}

.tbio {
	float: right;
}

.tbio {
	text-align: right;
	margin-right: 30px;
}

.trbio {
	text-align: right;
}

/*links to other poems*/

.previouslink {
	position: fixed;
	bottom: 0;
	left: 0;
}

.previouslink a {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	padding: 18px;
	color: black;
	text-decoration: none;
}

.previouslink a:hover {
	text-decoration: underline;
}

.nextlink {
	position: fixed;
	bottom: 0;
	right: 0;
}

.nextlink a {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	padding: 18px;
	color: black;
	text-decoration: none;
}

.nextlink a:hover {
	text-decoration: underline;
}

.note-text{
	flex:1;
}
.poem-image {
	width:20vw;
	height:30vh;
	flex:1;
	margin:20px;
}

.flex-container{
	display:flex;
	align-items:center;
}

/* language code */


:lang(ar){
	font-family: adobe-arabic, sans-serif !important;
	font-style:  normal;
	color: black;
	text-align: right;
	direction: rtl;
}

:lang(ar) h1{
    font-weight: 700;
    font-size: 60px;
	line-height: 63px;

  }

:lang(ar) h2{
    font-weight: 400;
	font-size: 28px;
	line-height: 34.4px;
  }

:lang(ar) p{
    font-weight: 400;
    font-style:  normal;
    font-size: 22px;
  } 

:lang(zh) {
	font-family: source-han-sans-traditional, sans-serif !important;
	font-style: normal;
	color: black;
	text-align: left;
}

:lang(zh) h1 { 
    font-weight: 500;
    font-size: 60px;
	line-height: 63px;
  }

:lang(zh) h2 { 
    font-weight:  400;
    font-size: 28px;
	line-height: 34.4px;
  }

:lang(zh) p{ 
    font-weight:  400;
    font-size: 18px;
  }

:lang(ja) { 
    font-family: source-han-sans-japanese, sans-serif !important;
    font-style:  normal;
    color: black;
	text-align: left;
	}

:lang(ja) h1{ 
    font-weight:  500;
    font-size: 32px;
	line-height: 38.4px;
  }

:lang(ja) h2{ 
    font-weight: 300;
    font-size: 28px;
	line-height: 34.4px;
  }

:lang(ja) p{ 
    font-weight: 300;
    font-style:  normal;
    font-size: 18px;
  }     

:lang(ko){ 
    font-family: source-han-sans-korean, sans-serif !important;
    font-style: normal; 
    color: black;
	text-align: left;
	}

:lang(ko) h1{ 
    font-weight: 500;
 	
  }

:lang(ko) h2{ 
    font-weight: 300;
    font-size: 28px;
	line-height: 34.4px;
  }   

:lang(ko) p{ 
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
  }

:lang(th){ 
    font-family: ibm-plex-thai-looped, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
    } 

:lang(th) h1{ 
    font-weight:  400;
    font-size: 32px;
	line-height: 38.4px;
  }

:lang(th) h2{ 
    font-weight:  300;
	font-size: 28px;
	line-height: 34.4px;
  }


:lang(th) p{ 
    font-weight:  300;
    font-size: 18px;
  }

:lang(he) { 
    font-family: myriad-hebrew, sans-serif; 
    font-style: normal;
    direction: rtl;
    color: black;
	}

:lang(he) h1{ 
    font-weight:  400;
    font-size: 32px;
	line-height: 38.4px;
  }

:lang(he) h2{ 
    font-weight:  300;
    font-size: 28px;
	line-height: 34.4px;
  }  


:lang(he) p{ 
    font-weight:  300;
    font-size: 18px;
  }

:lang(hi){ 
    font-family: hind-siliguri, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
	}

:lang(hi) h1{ 
    font-weight:  400;
    font-size: 32px;
	line-height: 38.4px;
  }

:lang(hi) h2{
    font-weight:  300;
    font-size: 28px;
	line-height: 34.4px;
  }  


:lang(hi) p{ 
    font-weight:  300;
    font-size: 18px;
  }

/* end language code */