body{
	background-color:#fffdfa;
	text-align:left;
	margin: 0px;
	font-size: 20px;
}

html,body {
	height: 100%;
}

a {
	text-decoration: none;
}

/*navigation bar*/

.logo img {
	position: static;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-left: 40px;
	height: 80px;
	width: 80px;
}

.nav {
	position: static;
	height: 40px;
	padding: 5px;
	padding-bottom: 30px;
	border-bottom: solid black 1px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}
.nav li {
	float: right;
}
.nav li a {
	display: block;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	color: black;
	text-align: right;
	padding: 10px 16px;
	border: transparent solid 1px;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.3s;
}
.nav a:hover{
  	border: solid black 1px;
}

/* text */

h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.note h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.note h3 {
	font-family: garamond-premier-pro, serif;
	font-weight: 300;
	font-style: italic;
}

.note p {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.note p em {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.note p strong {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.abio h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 10px;
}

.abio h3 {
	font-family: garamond-premier-pro, serif;
	font-weight: 300;
	font-style: italic;
}

.abio p {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.abio p em {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.abio p strong {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.tbio h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 10px;
}

.tbio h3 {
	font-family: garamond-premier-pro, serif;
	font-weight: 300;
	font-style: italic;
}

.tbio p {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.tbio p em{
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.tbio p strong{
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}




/*top links*/

.tcontentslink {
	height: 70px;
}

.tcontentslink a {
	display: inline-block;
	font-family: mr-eaves-modern, sans-serif;
	margin: 80px 0 0 -80px;
	color: black;
	text-decoration: none;
}

.tcontentslink a:hover {
	text-decoration: underline;
}

.poemtags {
	margin: -63px 30px 0 0;
	column-width: 50%;
}

.poemtags ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.poemtags li {
	float: right;
}

.poemtags li a {
	display: block;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	color: black;
	border: solid black 1px;
	text-align: right;
	padding: 13px 25px 13px 25px;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
}

.poemtags a:hover {
	color: #fffdfa;
	background-color: black;
	text-decoration: none;
}

/*main content*/

.container {
	margin: 0 350px 0 350px;
}

.transnote {
	clear: left;
	float: left;
}

.note {
	margin: -40px 0 30px 30px;
}

.abio {
	float: left;
}

.tbio {
	float: right;
}

.tbio {
	text-align: right;
	margin-right: 30px;
}

.trbio {
	text-align: right;
}

/*links to other poems*/

.previouslink {
	position: fixed;
	bottom: 0;
	left: -15px;
}

.previouslink a {
	display: inline-block;
	font-family: mr-eaves-modern, sans-serif;
	padding: 10px;
	color: black;
	text-decoration: none;
}

.previouslink a:hover {
	text-decoration: underline;
}

.nextlink {
	position: fixed;
	bottom: 0;
	right: -15px;
}

.nextlink a {
	display: inline-block;
	font-family: mr-eaves-modern, sans-serif;
	padding: 10px;
	color: black;
	text-decoration: none;
}

.nextlink a:hover {
	text-decoration: underline;
}

.note-text{
	flex:1;
}
.poem-image {
	width:20vw;
	height:30vw;
	flex:1;
	margin:20px;
}

.flex-container{
	display:flex;
	align-items:center;
}


/* language code */

:lang(ar) h1{ 
    font-family: nassim-arabic-pro, serif;
    font-weight: 400;
    font-style:  normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ar) h2{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ar) h3{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
 	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ar) p{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }  

:lang(ru) h1{ 
    font-family: garamond-premier-pro, serif;
    font-weight:  400;
    font-style:  normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ru) h2{ 
    font-family: omnes-cyrillic, sans-serif; 
    font-weight:  400;
    font-style:  normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ru) h3{ 
    font-family: omnes-cyrillic, sans-serif; 
    font-weight:  400;
    font-style:  italic;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ru) p{ 
    font-family: omnes-cyrillic, sans-serif; 
    font-weight:  400;
    font-style:  normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(zh) h1{ 
    font-family: source-han-sans-traditional, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(zh) h2{ 
    font-family: adobe-heiti-std, sans-serif;
    font-weight:  400;
    font-style: normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(zh) h3{ 
    font-family: adobe-heiti-std, sans-serif;
    font-weight:  400;
    font-style: normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(zh) p{ 
    font-family: adobe-heiti-std, sans-serif;
    font-weight:  400;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }


:lang(ja) h1{ 
    font-family: toppan-bunkyu-midashi-min-st, serif;
    font-weight:  900;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ja) h2{ 
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style:  normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ja) h3{ 
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style:  normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ja) p{ 
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style:  normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }      

:lang(bo) h1{ 
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px; 
  }

:lang(bo) h2{ 
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(bo) h3{ 
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(bo) p{ 
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px; 
  }      

:lang(ko) h1{ 
    font-family: source-han-serif-korean, serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ko) h2{ 
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ko) h3{ 
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }    

:lang(ko) p{ 
    font-family: source-han-sans-korean, sans-serif; 
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px; 
  }

:lang(th) h1{ 
    font-family: adobe-thai, serif; 
    font-weight:  400;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(th) h2{ 
    font-family: ibm-plex-thai, sans-serif;
    font-weight:  300;
    font-style: normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(th) h3{ 
    font-family: ibm-plex-thai, sans-serif; 
    font-weight:  300;
    font-style: normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }  

:lang(th) p{ 
    font-family: ibm-plex-thai, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(he) h1{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  400;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(he) h2{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }  

:lang(he) h3{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(he) p{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

/* end language code */

