body{
	background-color:#fffdfa;
	text-align:left;
	margin: 0px;
	font-size: 20px;
}

html,body {
	height: 100%;
}

a {
	text-decoration: none;
}

/*navigation bar*/

.logo img {
	position: static;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-left: 40px;
	height: 80px;
	width: 80px;
}

.nav {
	position: static;
	height: 40px;
	padding: 5px;
	padding-bottom: 30px;
	border-bottom: solid black 1px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}
.nav li {
	float: right;
}
.nav li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	color: black;
	text-align: right;
	padding: 10px 16px;
	border: transparent solid 1px;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.3s;
}
.nav a:hover{
  	border: solid black 1px;
}

/* text */ /*should we make consistent sizing for h1 h2 p across all classes?
seems redundant otherwise */

h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
    line-height: 38.4px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.note h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	line-height: 22px;
	color: black;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.note p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.note pre {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
}

.note p em {
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	color: black;
	text-align: left;
}

.note p strong, b{
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: black;
	text-align: left;
}

.note ul{
	list-style-type: circle;
	list-style-position: outside;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
	font-style: normal;
	color: black;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.note li{
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
	padding-bottom: 20px;
}


.abio h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 28px;
	line-height: 34.4px;
	color: black;
	text-align: left;
	margin-left: 10px;
}


.abio p {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.abio pre {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
}

.abio p em {
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
}

.abio p strong, b{
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: black;
	text-align: left;
}

.tbio h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 26px;
	line-height: 28px;
	color: black;
	text-align: left;
	margin-left: 10px;
}

.tbio p {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.tbio pre {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
}


.tbio p em{
	display: inline;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
}

.tbio p strong, b{
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: black;
	text-align: left;
}


/*top links*/

.tcontentslink {
	height: 70px;
	margin: 40px 0 0 120px;
}

.tcontentslink a {
	display: inline-block;
	font-family: futura-pt, sans-serif;
	margin: 40px 0 0 -80px;
	font-weight: 300;
	color: black;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
}

.tcontentslink a:hover {
	text-decoration: underline;
}

.poemtags {
	margin: -63px 30px 0 0;
	column-width: 50%;
}

.poemtags ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.poemtags li {
	float: right;
}

.poemtags li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 14px;
	color: black;
	border: solid black 1px;
	text-align: right;
	padding: 10px 20px 10px 20px;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
}

.poemtags a:hover {
	color: #fffdfa;
	background-color: black;
	text-decoration: none;
}

/*main content*/ 

.container {
	margin: 0% 15% 0 15%;
} 

.transnote {
	clear: left;
	float: left;
}

.note {
	margin: -40px 0 30px 0px;
}

.abio {
	float: left;
}

.tbio {
	float: right;
}

.tbio {
	text-align: right;
	margin-right: 30px;
}

.trbio {
	text-align: right;
}

/*links to other poems*/

.link p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}

.previouslink {
	position: fixed;
	padding: 0px 5px 0px 5px;
	bottom: 0;
	left: -10px;
}

.previouslink a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 40px;
}

.previouslink a:hover {
	text-decoration: underline;
}

.nextlink {
	position: fixed;
	bottom: 0;
	right: 0;
}

.nextlink a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-right: 30px;
}

.nextlink a:hover {
	text-decoration: underline;
}

.note-text{
	flex:1;
}
.poem-image {
	max-width:100%;
	
}
.caption {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height:0px;
}

.flex-container{
	display:flex;
	align-items:center;
}

/* language code */

:lang(ar){
	font-family: adobe-arabic, sans-serif !important;
	color: black;
	text-align: right;
	direction: rtl;
}

h1:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 700;
    font-style:  normal;
    font-size: 42px;
	line-height: 44px;
  }

h2:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
	font-size: 50px;
	line-height: 55px;
  }

h3:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
 	font-size: 50px;
	line-height: 55px;
  }

pre:lang(ar), pre:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
    font-size: 24px;
	line-height: 26px;
  } 

:lang(zh) {
	font-family: source-han-sans-traditional, sans-serif !important;
	font-style: normal;
	color: black;
	text-align: left;
}

h1:lang(zh) { 
    font-weight: 500;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(zh) { 
    font-weight:  400;
    font-size: 50px;
	line-height: 55px;
  }

h3:lang(zh) { 
    font-weight:  400;
    font-size: 50px;
	line-height: 55px;
  }

p:lang(zh), pre:lang(zh){ 
    font-weight:  400;
    font-size: 26px;
	line-height: 28px;
  }

:lang(ja) { 
    font-family: source-han-sans-japanese, sans-serif !important;
    font-style:  normal;
    color: black;
	text-align: left;
	}

h1:lang(ja) { 
    font-weight:  500;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(ja) { 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

h3:lang(ja) { 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

p:lang(ja), pre:lang(ja) { 
    font-weight: 300;
    font-style:  normal;
    font-size: 26px;
	line-height: 28px;
  }     
 

:lang(ko){ 
    font-family: source-han-sans-korean, sans-serif !important;
    font-style: normal; 
    color: black;
	text-align: left;
	}

h1:lang(ko) { 
    font-weight: 500;
    font-size: 60px;
	line-height: 63px;

  }

h2:lang(ko) { 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

h3:lang(ko) { 
    font-weight: 300;
    font-size: 60px;
	line-height: 63px;
  }    

p:lang(ko), pre:lang(ko) { 
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
	line-height: 28px;
  }

:lang(th) { 
    font-family: ibm-plex-thai-looped, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
    } 

h1:lang(th) { 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(th) { 
    font-weight:  300;
	font-size: 50px;
	line-height: 55px;
  }

h3:lang(th) { 
    font-weight:  300;
	font-size: 50px;
	line-height: 55px;
  }  

p:lang(th), pre:lang(th) { 
    font-weight:  300;
    font-size: 22px;
  }

:lang(he) { 
    font-family: myriad-hebrew, sans-serif; 
    font-style: normal;
    direction: rtl;
    color: black;
	}

h1:lang(he) { 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(he) { 
    font-weight:  300;
    font-size: 50px;
	line-height: 55px;
  }  

h3:lang(he) { 
    font-weight:  300;
    font-size: 60px;
	line-height: 63px;
}

pre:lang(he) { 
    font-weight:  300;
    font-size: 22px;
  }

p:lang(he), pre:lang(he) { 
    font-weight:  300;
    font-size: 22px;
	text-align: right;
	direction: rtl;
  }

:lang(hi){ 
    font-family: hind-siliguri, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
	}

h1:lang(hi) { 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
	
  }

h2:lang(hi) {
    font-weight:  300;
    font-size: 50px;
	line-height: 55px;
  }  

h3:lang(hi) { 
    font-weight:  300;
    font-size: 36px;
	line-height: 40px;
  }

p:lang(hi), pre:lang(hi) { 
    font-weight:  300;
    font-size: 22px;
  }

:lang(el){
	font-family: omnes-greek, sans-serif;
	font-style: normal;
    color: black;
	text-align: left;
}

h1:lang(el) { 
    font-weight:  500;
    font-size: 60px;
	line-height: 63px;
	
  }

h2:lang(el) {
    font-weight:  300;
    font-size: 50px;
	line-height: 55px;
  }  

h3:lang(el) { 
    font-weight:  300;
    font-size: 36px;
	line-height: 40px;
  }

p:lang(el), pre:lang(el) { 
    font-weight:  300;
    font-size: 22px;
  }

/* end language code */
