body{
	background-color:#fffdfa;
	margin: 0px;
	font-size: 20px;
}

html,body {
/*	height: 100%;*/
}

a {
	text-decoration: none;
}

/*navigation bar*/

.logo img {
	position: static;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-left: 40px;
	height: 80px;
	width: 80px;
}

.nav {
	position: static;
	height: 40px;
	padding: 5px;
	padding-bottom: 30px;
	border-bottom: solid black 1px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}
.nav li {
	float: right;
}
.nav li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	color: black;
	text-align: right;
	padding: 10px 16px;
	border: transparent solid 1px;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.3s;
}
.nav a:hover{
  	border: solid black 1px;
}

/* text */

h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 34px;
	line-height: 36px;
	color: black;
/*	text-align: left;*/
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	line-height: 22px;
	color: black;
	text-align: left;
	margin-left: 40px;
}

h3 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	line-height: 22px;
	color: black;
/*	text-align: left;*/
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

pre {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-right: 40px;
}

p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-right: 40px;
}

.indent p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-right: 40px;
	text-indent: 10px;
}

p em {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	line-height: 20px;
	color: black;
	text-align: left;
/*	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-right: 40px;*/
}

p strong {
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 5px;
}

.note h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 26px;
	line-height: 28px;
	color: black;
	text-align: left;
	padding-left:50px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:10px;
}

.poemtitle {
	height:100px;
}

/*top links*/

.tcontentslink {
	height: 70px;
}

.tcontentslink a {
	display: inline-block;
	margin: 40px 0 0 -80px;
	color: black;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
}

.tcontentslink a:hover {
	text-decoration: underline;
}

.poemtags {
	margin: -63px 30px 0 0;
	column-width: 50%;
}

.poemtags ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.poemtags li {
	float: right;
}

.poemtags li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 14px;
	color: black;
	border: solid black 1px;
	text-align: right;
	padding: 10px 20px 10px 20px;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
}

.poemtags a:hover {
	color: #fffdfa;
	background-color: black;
	text-decoration: none;
}

/*poem contents*/

.poems {
	width: 75%;
	margin: 0px auto 0 auto;
	display:flex;
	flex-wrap: wrap;
}

.ogtitle {
	width: 50%;
	clear: left;
	float: left;
}

.transtitle {
	width: 50%;
	float: left;
}

.poemtitle {
	margin-left: 40px;
	margin-right: 40px;
}
.ogpoem {
	min-width: 25rem;
	flex-basis:48%;
}

.transpoem {
	min-width: 25rem;
	flex-basis:48%;
}

.note {
	margin: 0px 0 30px 0px;
}

.container{
	margin: 0% 15% 5% 15%;
}

/*links to other poems*/

.previouslink {
	position: fixed;
	bottom: 0;
	left: -10px;
}

.previouslink a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
}

.previouslink a:hover {
	text-decoration: underline;
}

.nextlink {
	position: fixed;
	bottom: 0;
	right: 0;
}

.nextlink a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
}

.nextlink a:hover {
	text-decoration: underline;
}

/* language code */
/*russian */
p:lang(ru), pre:lang(ru){
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: black;
	text-align: left;
}
/* arabic */
:lang(ar){
	font-family: adobe-arabic, sans-serif !important;
	color: black;
	text-align: right;
	direction: rtl;
}

h1:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 700;
    font-style:  normal;
    font-size: 42px;
	line-height: 44px;
  }

h2:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
	font-size: 50px;
	line-height: 55px;
  }

h3:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
 	font-size: 50px;
	line-height: 55px;
  }

pre:lang(ar), pre:lang(ar) { 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
    font-size: 24px;
	line-height: 26px;
  } 
/* chinese */
:lang(zh) {
	font-family: source-han-sans-traditional, sans-serif !important;
	font-style: normal;
	color: black;
	text-align: left;
}

h1:lang(zh) { 
    font-weight: 500;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(zh) { 
    font-weight:  400;
    font-size: 50px;
	line-height: 55px;
  }

h3:lang(zh) { 
    font-weight:  400;
    font-size: 50px;
	line-height: 55px;
  }

p:lang(zh), pre:lang(zh){ 
    font-weight:  400;
    font-size: 26px;
	line-height: 28px;
  }
/* japanese */
:lang(ja) { 
    font-family: source-han-sans-japanese, sans-serif !important;
    font-style:  normal;
    color: black;
	text-align: left;
	}

h1:lang(ja) { 
    font-weight:  500;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(ja) { 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

h3:lang(ja) { 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

p:lang(ja), pre:lang(ja) { 
    font-weight: 300;
    font-style:  normal;
    font-size: 26px;
	line-height: 28px;
  }     
 
/* korean */
:lang(ko){ 
    font-family: source-han-sans-korean, sans-serif !important;
    font-style: normal; 
    color: black;
	text-align: left;
	}

h1:lang(ko) { 
    font-weight: 500;
    font-size: 60px;
	line-height: 63px;

  }

h2:lang(ko) { 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

h3:lang(ko) { 
    font-weight: 300;
    font-size: 60px;
	line-height: 63px;
  }    

p:lang(ko), pre:lang(ko) { 
    font-weight: 200;
    font-style: normal;
    font-size: 26px;
	line-height: 28px;
  }
/* thai */
:lang(th) { 
    font-family: ibm-plex-thai-looped, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
    } 

h1:lang(th) { 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(th) { 
    font-weight:  300;
	font-size: 50px;
	line-height: 55px;
  }

h3:lang(th) { 
    font-weight:  300;
	font-size: 50px;
	line-height: 55px;
  }  

p:lang(th), pre:lang(th) { 
    font-weight:  300;
    font-size: 22px;
  }
/* hebrew */
:lang(he) { 
    font-family: myriad-hebrew, sans-serif; 
    font-style: normal;
    direction: rtl;
    color: black;
	}

h1:lang(he) { 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
  }

h2:lang(he) { 
    font-weight:  300;
    font-size: 50px;
	line-height: 55px;
  }  

h3:lang(he) { 
    font-weight:  300;
    font-size: 60px;
	line-height: 63px;
}

pre:lang(he) { 
    font-weight:  300;
    font-size: 22px;
  }

p:lang(he), pre:lang(he) { 
    font-weight:  300;
    font-size: 22px;
	text-align: right;
	direction: rtl;
  }
/* hindi */
:lang(hi){ 
    font-family: hind-siliguri, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
	}

h1:lang(hi) { 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
	
  }

h2:lang(hi) {
    font-weight:  300;
    font-size: 50px;
	line-height: 55px;
  }  

h3:lang(hi) { 
    font-weight:  300;
    font-size: 36px;
	line-height: 40px;
  }

p:lang(hi), pre:lang(hi) { 
    font-weight:  300;
    font-size: 22px;
  }
/* greek */
:lang(el){
	font-family: omnes-greek, sans-serif !important;
	font-style: normal;
    color: black;
	text-align: left;
}

h1:lang(el) { 
    font-weight:  300;
    font-size: 34px;
	line-height: 36px;
	
  }

h2:lang(el) {
    font-weight:  200;
    font-size: 20px;
	line-height: 22px;
  }  

h3:lang(el) { 
    font-weight:  200;
    font-size: 20px;
	line-height: 22px;
  }

p:lang(el), pre:lang(el) { 
    font-weight:  200;
    font-size: 18px;
	line-height: 20px;
  }
/* georgian */
:lang(ka){
	font-family: omnes-georgian, sans-serif !important;
	font-style: normal;
    color: black;
	text-align: left;
}

h1:lang(ka) { 
    font-weight:  500;
    font-size: 34px;
	line-height: 36px;
	
  }

h2:lang(ka) {
    font-weight:  500;
    font-size: 20px;
	line-height: 22px;
  }  

h3:lang(ka) { 
    font-weight:  500;
    font-size: 20px;
	line-height: 22px;
  }

p:lang(ka), pre:lang(ka) { 
    font-weight:  500;
    font-size: 18px;
	line-height: 20px;
  }
/* end language code */