body{
	background-color:#fffdfa;
	text-align:left;
	margin: 0px;
	font-size: 20px;
}

html,body {
/*	height: 100%;*/
}

a {
	text-decoration: none;
}

/*navigation bar*/

.logo img {
	position: static;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-left: 40px;
	height: 80px;
	width: 80px;
}

.nav {
	position: static;
	height: 40px;
	padding: 5px;
	padding-bottom: 30px;
	border-bottom: solid black 1px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}
.nav li {
	float: right;
}
.nav li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	color: black;
	text-align: right;
	padding: 10px 16px;
	border: transparent solid 1px;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.3s;
}
.nav a:hover{
  	border: solid black 1px;
}

/* text */

h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	line-height: 38.4px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
}

h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: black;
	text-align: left;
	margin-left: 60px;
}

h3 {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
}

pre {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
	color: black;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}

p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}

p em {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: italic;
	line-height:18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}

p strong {
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height:18px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}


/*top links*/

.tcontentslink {
	height: 70px;
}

.tcontentslink a {
	display: inline-block;
	margin: 40px 0 0 -80px;
	color: black;
	text-decoration: none;
	font-size:22px;
}

.tcontentslink a:hover {
	text-decoration: underline;
}

.poemtags {
	margin: -63px 30px 0 0;
	column-width: 50%;
}

.poemtags ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.poemtags li {
	float: right;
}

.poemtags li a {
	display: block;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size:22px;
	color: black;
	border: solid black 1px;
	text-align: right;
	padding: 13px 25px 13px 25px;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
}

.poemtags a:hover {
	color: #fffdfa;
	background-color: black;
	text-decoration: none;
}

/*poem contents*/

.poems {
	width: 75%;
	margin: 50px auto 0 auto;
}

.ogtitle {
	width: 50%;
	clear: left;
	float: left;
}

.transtitle {
	width: 50%;
	float: left;
}

.ogpoem {
	display: inline-block;
	width: 48%;
	float: left;
	overflow-x:auto;
}

.transpoem {
	display: inline-block;
	width: 48%;
	float: right;
	overflow-x:auto;
}

/*links to other poems*/

.previouslink {
	position: fixed;
	bottom: 0;
	left: -10px;
}

.previouslink a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-size:18px;
}

.previouslink a:hover {
	text-decoration: underline;
}

.nextlink {
	position: fixed;
	bottom: 0;
	right: 0;
}

.nextlink a {
	display: inline-block;
	padding: 10px;
	color: black;
	text-decoration: none;
	font-size:18px;
}

.nextlink a:hover {
	text-decoration: underline;
}

/* language code */

:lang(ar){
	font-family: adobe-arabic, sans-serif !important;
	color: black;
	text-align: right;
	direction: rtl;
}

:lang(ar) h1{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 700;
    font-style:  normal;
    font-size: 60px;
	line-height: 63px;

  }

:lang(ar) h2{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
	font-size: 50px;
	line-height: 55px;
  }

:lang(ar) h3{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
 	font-size: 50px;
	line-height: 55px;
  }

:lang(ar) p{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
    font-size: 22px;
  } 

:lang(ar) pre { 
    font-weight: 400;
    font-size: 22px;
	color: black;
	text-align: right !important;
	direction: rtl;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  } 

:lang(zh) {
	font-family: source-han-sans-traditional, sans-serif !important;
	font-style: normal;
	color: black;
	text-align: left;
}

:lang(zh) h1 { 
    font-weight: 500;
    font-size: 60px;
	line-height: 63px;
  }

:lang(zh) h2 { 
    font-weight:  400;
    font-size: 50px;
	line-height: 55px;
  }

:lang(zh) h3 { 
    font-weight:  400;
    font-size: 50px;
	line-height: 55px;
  }

:lang(zh) p{ 
    font-weight:  400;
    font-size: 22px;
  }

:lang(zh) pre { 
    font-family: source-han-sans-traditional, sans-serif;
    font-weight:  400;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ja) { 
    font-family: source-han-sans-japanese, sans-serif !important;
    font-style:  normal;
    color: black;
	text-align: left;
	}

:lang(ja) h1{ 
    font-weight:  500;
    font-size: 60px;
	line-height: 63px;
  }

:lang(ja) h2{ 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

:lang(ja) h3{ 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

:lang(ja) p{ 
    font-weight: 300;
    font-style:  normal;
    font-size: 22px;
  }     

:lang(ja) pre{ 
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style:  normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }     

:lang(ko){ 
    font-family: source-han-sans-korean, sans-serif !important;
    font-style: normal; 
    color: black;
	text-align: left;
	}

:lang(ko) h1{ 
    font-weight: 500;
    font-size: 60px;
	line-height: 63px;

  }

:lang(ko) h2{ 
    font-weight: 300;
    font-size: 50px;
	line-height: 55px;
  }

:lang(ko) h3{ 
    font-weight: 300;
    font-size: 60px;
	line-height: 63px;
  }    

:lang(ko) p{ 
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
  }

:lang(ko) pre { 
    font-family: source-han-sans-korean, sans-serif; 
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
  }

:lang(th){ 
    font-family: ibm-plex-thai-looped, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
    } 

:lang(th) h1{ 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
  }

:lang(th) h2{ 
    font-weight:  300;
	font-size: 50px;
	line-height: 55px;
  }

:lang(th) h3{ 
    font-weight:  300;
	font-size: 50px;
	line-height: 55px;
  }  

:lang(th) p{ 
    font-weight:  300;
    font-size: 22px;
  }

:lang(th) pre { 
    font-family: ibm-plex-thai-looped, sans-serif;
    font-weight:  300;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(he) { 
    font-family: myriad-hebrew, sans-serif; 
    font-style: normal;
    direction: rtl;
    color: black;
	}

:lang(he) h1{ 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
  }

:lang(he) h2{ 
    font-weight:  300;
    font-size: 50px;
	line-height: 55px;
  }  

:lang(he) h3{ 
    font-weight:  300;
    font-size: 60px;
	line-height: 63px;
}

:lang(he) p{ 
    font-weight:  300;
    font-size: 22px;
  }

:lang(he) pre { 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: right;
	direction: rtl;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(hi){ 
    font-family: hind-siliguri, sans-serif !important;
    font-style: normal;
    color: black;
	text-align: left;
	}

:lang(hi) h1{ 
    font-weight:  400;
    font-size: 60px;
	line-height: 63px;
	
  }

:lang(hi) h2{
    font-weight:  300;
    font-size: 50px;
	line-height: 55px;
  }  

:lang(hi) h3{ 
    font-weight:  300;
    font-size: 36px;
	line-height: 40px;
  }

:lang(hi) p{ 
    font-weight:  300;
    font-size: 22px;
  }

:lang(hi) pre { 
    font-family: hind-siliguri, sans-serif;
    font-weight:  300;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
  }

/* end language code */