body{
	background-color:#fffdfa;
	text-align: left;
	margin: 0px;
	font-size: 20px;
}

html,body {
	height: 100%;
}

a {
	text-decoration: none;
}

/*navigation bar*/

.logo img {
	position: static;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-left: 40px;
	height: 80px;
	width: 80px;
}

.nav {
	position: static;
	height: 40px;
	padding: 5px;
	padding-bottom: 30px;
	border-bottom: solid black 1px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}
.nav li {
	float: right;
}
.nav li a {
	display: block;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	color: black;
	text-align: right;
	padding: 10px 16px;
	border: transparent solid 1px;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.3s;
}
.nav a:hover{
  	border: solid black 1px;
}

/*main content style!*/

h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
}

h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
}

p {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}

.submit-p {
	width: 50%;
	margin-top: 30px;
}

.submit-p ul{
	list-style-type: circle;
	list-style-position: outside;
}

.submit-p li{
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 80px;
	margin-right: 40px;
}


/*submission form*/

.submitform form{
	padding: 10px;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: black;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 28px;
	margin-left: 50px;
	margin-right: 40px;
}

input {
	width: 990px;
	height: 30px;
	margin: 10px 10px 10px 0px;
	border: solid black 1px;
	background-color: #f5eee4;
}

textarea {
	width: 990px;
	height: 200px;
	margin: 10px 10px 10px 0px;
	border: solid black 1px;
	background-color: #f5eee4;
}

input[type="file"] {
	width: 200px;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: bold;
	font-size: 18px;
	color: black;
}

button[type="submit"] {
	margin: 10px 0 40px 0;
	width: 110px;
	height: 45px;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: bold;
	font-size: 20px;
	color: black;
	border: solid black 1px;
	background-color: #f5eee4;
	transition: 0.3s;
}

button:hover {
	color: #fffdfa;
	background-color: black;
}

input:focus {
  border: 2px solid #555;
}

textarea:focus {
  border: 2px solid #555;
}
