body{
	background-color:#fffdfa;
	text-align:left;
	margin: 0px;
	font-size: 20px;
}

html,body {
	height: 100%;
}

a {
	text-decoration: none;
	color:black;
}

/*navigation bar*/

.logo img {
	position: static;
	display: inline-block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-left: 40px;
	height: 80px;
	width: 80px;
}

.nav {
	position: static;
	height: 40px;
	padding: 5px;
	padding-bottom: 30px;
	border-bottom: solid black 1px;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}
.nav li {
	float: right;
}
.nav li a {
	display: block;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	color: black;
	text-align: right;
	padding: 10px 16px;
	border: transparent solid 1px;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.3s;
}
.nav a:hover{
  	border: solid black 1px;
}

h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
}

h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
}

h3 {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-left: 50px;
	margin-right: 40px;
}

p {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}


.issuetitle h1{
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
	color: black;
	text-align: left;
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 0px;
	white-space: nowrap;
	padding: 0px;
}

.tcontents {
	height: 600px;
	padding: 20px 60px 20px 60px;
}

.tcontents-title {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 48px;
	color: black;
	text-align: left;
	margin: -10px 0 0 0;
}

.toc-container {
	display: flex;
	flex-direction: row;
}

.left {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.right {
	display: flex;
	flex-direction: column;
}

.tcleft {
	display: inline-block;
	width: 50%;
	clear: left;
	float: left;
}

.tcleft h2{
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	text-align: left;
	margin-left: 0px;
	white-space: nowrap;
	text-decoration: underline;
}

.tcleft h3{
	width: 50%;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 22px;
	text-align: left;
	margin: -15px 0 0 30px;
	white-space: nowrap;
	line-height: 25px;
}

.tcright{
	display: inline-block;
	width: 50%;
	float: left;
}

.tcright h2{
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	color: black;
	text-align: left;
	margin-left: 0px;
	white-space: nowrap;
	text-decoration: underline;
}

.tcright h3{
	width: 50%;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 22px;
	color: black;
	text-align: left;
	margin: -15px 0 0 30px;
	white-space: nowrap;
	line-height: 25px;
}

/* language code */

:lang(en) h1, :lang(es) h1, :lang(fr) h1, :lang(it) h1, :lang(de) h1, :lang(no) h1, :lang(po) h1 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
}

:lang(en) h2, :lang(es) h2, :lang(fr) h2, :lang(it) h2, :lang(de) h2, :lang(no) h2, :lang(po) h2 {
	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	line-height: 35px;
	color: black;
	text-align: left;
	margin-left: 60px;
}

:lang(en) h3, :lang(es) h3, :lang(fr) h3, :lang(it) h3, :lang(de) h3, :lang(no) h3, :lang(po) h3 {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: italic;
}

:lang(en) p, :lang(es) p, :lang(fr) p, :lang(it) p, :lang(de) p, :lang(no) p, :lang(po) p {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
}

:lang(ar) h1{ 
    font-family: nassim-arabic-pro, serif;
    font-weight: 400;
    font-style:  normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ar) h2{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ar) h3{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
 	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ar) p{ 
    font-family: adobe-arabic, sans-serif; 
    font-weight: 400;
    font-style:  normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }  

:lang(ru) h1{ 
    font-family: garamond-premier-pro, serif;
    font-weight:  400;
    font-style:  normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ru) h2{ 
    font-family: omnes-cyrillic, sans-serif; 
    font-weight:  400;
    font-style:  normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ru) h3{ 
    font-family: omnes-cyrillic, sans-serif; 
    font-weight:  400;
    font-style:  italic;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ru) p{ 
    font-family: omnes-cyrillic, sans-serif; 
    font-weight:  400;
    font-style:  normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(zh) h1{ 
    font-family: source-han-sans-traditional, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(zh) h2{ 
    font-family: adobe-heiti-std, sans-serif;
    font-weight:  400;
    font-style: normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(zh) h3{ 
    font-family: adobe-heiti-std, sans-serif;
    font-weight:  400;
    font-style: normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(zh) p{ 
    font-family: adobe-heiti-std, sans-serif;
    font-weight:  400;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }


:lang(ja) h1{ 
    font-family: toppan-bunkyu-midashi-min-st, serif;
    font-weight:  900;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ja) h2{ 
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style:  normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ja) h3{ 
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style:  normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ja) p{ 
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style:  normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }      

:lang(bo) h1{ 
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px; 
  }

:lang(bo) h2{ 
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(bo) h3{ 
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(bo) p{ 
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px; 
  }  

:lang(ko) h1{ 
    font-family: source-han-serif-korean, serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(ko) h2{ 
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(ko) h3{ 
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 300;
    font-style: normal; 
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }    

:lang(ko) p{ 
    font-family: source-han-sans-korean, sans-serif; 
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px; 
  }

:lang(th) h1{ 
    font-family: adobe-thai, serif; 
    font-weight:  400;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(th) h2{ 
    font-family: ibm-plex-thai, sans-serif;
    font-weight:  300;
    font-style: normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }

:lang(th) h3{ 
    font-family: ibm-plex-thai, sans-serif; 
    font-weight:  300;
    font-style: normal;
	font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }  

:lang(th) p{ 
    font-family: ibm-plex-thai, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(he) h1{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  400;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(he) h2{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 50px;
	line-height: 55px;
	color: black;
	text-align: left;
	margin-left: 60px;
  }  

:lang(he) h3{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 60px;
	line-height: 63px;
	color: black;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 40px;
  }

:lang(he) p{ 
    font-family: myriad-hebrew, sans-serif; 
    font-weight:  300;
    font-style: normal;
    font-size: 22px;
	color: black;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 40px;
  }

/* end language code */
