---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="../assets/css/notepagestyle.css">
  <link rel="stylesheet" href="https://use.typekit.net/nje3rzy.css">
  <script src="https://kit.fontawesome.com/5f40f4e0da.js" crossorigin="anonymous"></script>
  <!-- the script is for fontawesome, which has a lot of icons that I thought would be good for the link arrows that we have in the figma design! -->
</head>

   <title>note page</title>

<body>
  <header>
    <a href="ds_homepage.html">
      <div class="logo">
        <img src="../assets/images/doublespeak_logo.png" alt="doublespeak logo">
      </div>
    </a>
    <div class="nav">
      <ul>
        <li><a href="searchpage.html">search</a></li>
        <li><a href="aboutpage.html">about</a></li>
        <li><a href="submitpage.html">submit</a></li>
        <li><a href="issuepage.html">issues</a></li>
      </ul>
    </div>
  </header>
   <div class="tcontentslink">
    <p><a href="../tcontentspage_2021.html"><  &nbsp; table of contents</a></p>
    <div class="poemtags">
      <ul>
        <li><a href="">{{page.author}}</a></li>
        <li><a href="">{{page.translator}}</a></li>
        <li><a href="">{{page.language}}</a></li>
      </ul>
    </div>
  </div>
  <div class="container">

      <div class="note">
        <h2>{{page.translator}}</h2>
        <h3 class="note">on translating {{page.author}}</h3>
        <p> {{page.note}}</p>
      </div> 
    <div class="flex-container">
       <div class="note-text">
          <div class="abio">
            <h2>about the author</h2>
            <p>{{page.abio}}</p>
          </div>
          <div class="tbio">
            <h2>about the translator</h2>
            <p>{{page.tbio}}</p>
           </div>
         </div>

        <img class="poem-image" src={{page.image}}></img>

    </div>
  </div>
{% for pg in site.data.poems_2021 %}

      {% if pg.pid == page.pid %}

          {% assign nextIndex = forloop.index | plus: 1 %}
        {% endif %}


    {% endfor %}

    {% for pg in site.data.poems_2021 %}

         {% if forloop.index == nextIndex %}
  
          {% assign nextPage = pg.pid %}

        {% endif %}

    {% endfor %}
  <div class="previouslink">
    <p><a href="{{site.url}}/poems_{{page.edition}}/{{page.pid}}"><  &nbsp; previous</a></p>
  </div>
  <div class="nextlink">
    <p><a href="{{site.url}}/poems_{{page.edition}}/{{nextPage}}">next &nbsp; ></a></p>
  </div>
</body>
<html>