---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/notepagestyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

   <title>{{page.translator}} on translating {{page.author}}</title>

<body>
  {% include navbar.html %}    
    <div class="poemtags">
      <ul>
        <p class="tcontentslink link"><a href="{{site.baseurl}}/toc{{page.edition}}.html"><  &nbsp; table of contents</a></p>
        {% if page.language %}<li><a href="{{site.baseurl}}/language_tags/{{page.language | slugify: 'latin' | replace: '-','_'}}">{{page.language}}</a></li>
        {% endif %}
        {% if page.translator %}
        <li><a href="{{site.baseurl}}/translator_tags/{{page.translator | slugify: 'latin' | replace: '-','_'}}">{{page.translator}}</a></li>
        {% endif %}
        <li><a href="{{site.baseurl}}/author_tags/{{page.author | slugify: 'latin' | replace: '-','_'}}">{{page.author}}</a></li>
      </ul>
    </div>
  </div>
  <br>

{% assign path = "poems_" | append: page.edition %}

{% for pg in site.data[path] %}

      {% if pg.pid == page.pid %}

          {% assign nextIndex = forloop.index | plus: 1 %}
          {% assign thisIndex = forloop.index %}
        {% endif %}
      {% assign endLength = forloop.length %}

{% endfor %}

{% for pg in site.data[path] %}

         {% if forloop.index == nextIndex %}
  
          {% assign nextPage = pg.pid %}

        {% endif %}




{% endfor %}
<div class='flex-container'>
  <div class="container">
      <div class="note">
        <h1>{{page.translator}}</h1><br>
        <h2 class="note">on translating {{page.author}}</h2><br>
        <p class="note"> {{page.note}} 
        </p>
      </div> 
    <div class="flex-container">
      
       <div class="note-text">
          <div class="abio">

            <h1 class="abio">about the author</h1>
            <p>{{page.abio}}</p>
          </div>

          <div class="tbio">

            <h1 class="tbio">about the translator</h1>
            <p>{{page.tbio}}</p>
        </div>
      {% if page.image and page.image != "none" and page.image != "none " and page.image != "" %}
         <p class="caption"> {{page.imagecredit}}
        </p>
         <img class="poem-image" src="{{site.baseurl}}{{page.image}}"></img>
         </div>
      {% endif %}

  </div>

    <div class="previouslink">
    <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{page.pid}}"><  &nbsp; previous</a></p>
  </div>
  <div class="previousmobile">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{page.pid}}"><i class="fa-solid fa-circle-chevron-left"></i></a></p>
    </div>

{% if thisIndex == endLength %}
<div class="nextlink">
  <p class="link"><a href="{{site.url}}{{site.baseurl}}/frontmatter/copyright{{page.edition}}">next &nbsp; ></a></p>
</div>
<div class="nextmobile">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/frontmatter/copyright{{page.edition}}"><i class="fa-solid fa-circle-chevron-right"></i></a></p>
    </div>
{% else %}
<div class="nextlink">
  <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{nextPage}}"> next &nbsp; ></a></p>
</div>
<div class="nextmobile">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{nextPage}}"><i class="fa-solid fa-circle-chevron-right"></i></a></p>
    </div>
{% endif %}
  </div>
</div>

    <div class="lineart">
           <img class="line" style="margin: -100px -100px 0 0;" src="{{site.baseurl}}/assets/images/line 2022.svg"/>
         </div>
</body>
<html>
