---
layout: default
---

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/poempagestyle.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

   <title>{{page.transtitle}}</title>

<body>
{% include navbar.html %}
    <div class="poemtags">
      <ul>
        <p class="tcontentslink link"><a href="{{site.baseurl}}/toc{{page.edition}}.html"><  &nbsp; table of contents</a></p>
        {% if page.language and page.language != "English" %}
        <li><a href="{{site.baseurl}}/language_tags/{{page.language| slugify: 'latin' | replace: '-','_'}}">{{page.language}}</a></li>
        {% endif %}
        {% if page.translator %}
        <li><a href="{{site.baseurl}}/translator_tags/{{page.translator | slugify: 'latin' | replace: '-','_'}}">{{page.translator}}</a></li>
        {% endif %}
        {% if page.author %}
        <li><a href="{{site.baseurl}}/author_tags/{{page.author | slugify: 'latin' | replace: '-','_'}}">{{page.author}}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% if page.pagetype == "musing" or page.pagetype == "interview" %}
    <div class="container">
      <div class="note">
        <h1>{{page.title}}</h1> 
        <h2>{{page.author}}</h2>
        <p class="note"> {{page.note}}</p>
      </div> 
    </div>
  {% else %}
    <div class="poems">
      <div class="ogpoem">
        <h1 class="poemtitle" lang= "{{ page.lang }}">{{page.title}}</h1>
        <div class="headerart">
          <img src="{{site.baseurl}}/assets/images/header_light.png" alt="line">
        </div>
        <h2>{{page.author}}</h2>
        <hr />
        <pre lang="{{ page.lang }}">{{page.poem}}</pre>
        <div class="audio">
          {{page.origaudio}}
        </div>
      </div>
      <div class="transpoem">
        <h1 class="poemtitle">{{page.transtitle}}</h1>
        <div class="headerart">
          <img src="{{site.baseurl}}/assets/images/header_dark.png" alt="line">
        </div>
        <h2>{{page.translator}}</h2>
        <hr />
        <pre>{{page.transpoem}}</pre>
        <div class="audio">
          {{page.translaudio}}
        </div>
      </div>
    </div>
  {% endif %}
 

<!--   {% assign previousIndex = page.pid | minus: 1 %} -->

{% assign path = "poems_" | append: page.edition %}

  {% for pg in site.data[path] %}

      {% if pg.pid == page.pid %}

          {% assign previousIndex = forloop.index | minus: 1 %}

          {% assign nextIndex = forloop.index | plus: 1 %}
        {% endif %}

    {% endfor %}

    {% for pg in site.data[path] %}


        {% if forloop.index == 1 %}
          {% assign previousPage = "ednote" | append: page.edition %}

        {% endif %}

        {% if forloop.index == previousIndex and pg.pagetype != "musing" and pg.pagetype != "interview" %}
          {% assign previousPage = pg.pid %}

        {% endif %}

        {% if forloop.index == previousIndex and forloop.index != 1 and pg.pagetype == "musing" or pg.pagetype == "interview" %}
          {% assign previousPage = pg.pid %}
          {% assign fixpath = "poems_" %}
        {% endif %}
      
        {% if forloop.index == nextIndex %}
          {% assign nextPage = pg.pid %}
        {% endif %}

    {% endfor %}
  

  {% if fixpath == "poems_" %}

    <div class="previouslink">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{previousPage}}"> < &nbsp;previous</a></p>
    </div>
    <div class="previousmobile">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{previousPage}}"><i class="fa-solid fa-circle-chevron-left"></i></a></p>
    </div>

  {% elsif previousPage contains "ednote" %}
    <div class="previouslink">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/frontmatter/{{previousPage}}"> < &nbsp;previous</a></p>
    </div>
  <div class="previousmobile">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/frontmatter/{{previousPage}}"><i class="fa-solid fa-circle-chevron-left"></i></a></p>
    </div>
  {% else %}

  <div class="previouslink">
    <p class="link"><a href="{{site.url}}{{site.baseurl}}/notes_{{page.edition}}/{{previousPage}}"><  &nbsp; previous</a></p>
  </div>
  <div class="previousmobile">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/notes_{{page.edition}}/{{previousPage}}"><i class="fa-solid fa-circle-chevron-left"></i></a></p>
    </div>
  {% endif %}


  
  {% if page.pagetype == "musing" or page.pagetype == "interview" %}
  <div class="nextlink">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{nextPage}}">next &nbsp; ></a></p>
    </div>

<div class="nextmobile">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{nextPage}}"><i class="fa-solid fa-circle-chevron-right"></i></a></p>
    </div>

  {% else %}
    <div class="nextlink">
      <p class="link"><a href="{{site.url}}{{site.baseurl}}/notes_{{page.edition}}/{{page.pid}}">next &nbsp; ></a></p>
    </div>

      <div class="nextmobile">

      <p class="link"><a href="{{site.url}}{{site.baseurl}}/notes_{{page.edition}}/{{page.pid}}"><i class="fa-solid fa-circle-chevron-right"></i></a></p>

    </div>
{% endif %}
  </div>
</body>
</html>

