---
layout: default
---

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../assets/css/poempagestyle.css">
      <link rel="stylesheet" href="https://use.typekit.net/ixt2gok.css">
    <script>
  (function(d) {
    var config = {
      kitId: 'lit0ksd',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);</script>
  <script src="https://kit.fontawesome.com/5f40f4e0da.js" crossorigin="anonymous"></script>
  <!-- the script is for fontawesome, which has a lot of icons that I thought would be good for the link arrows that we have in the figma design! -->
</head>

   <title>poem page</title>

<body>
  <header>
    <a href="../index.html">
      <div class="logo">
        <img src="../assets/images/doublespeak_logo.png" alt="doublespeak logo">
      </div>
    </a>
    <div class="nav">
      <ul>
        <li><a href="../search.html">search</a></li>
        <li><a href="../about.html">about</a></li>
        <li><a href="../submit.html">submit</a></li>
        <li><a href="../issues.html">issues</a></li>
      </ul>
    </div>
  </header>
  <div class="tcontentslink">
    <p><a href="../tcontentspage_{{page.edition}}.html"><  &nbsp; table of contents</a></p>
    <div class="poemtags">
      <ul>
        <li><a href="">{{page.language}}</a></li>
        <li><a href="">{{page.translator}}</a></li>
        <li><a href="">{{page.author}}</a></li>
      </ul>
    </div>
  </div>

  {% if page.pagetype == "musing" or page.pagetype == "interview" %}
    <div class="container">
      <div class="note">
        <h1>{{page.title}}</h1> 
        <h2>{{page.author}}</h2>
        <p class="note"> {{page.note}}</p>
      </div> 
    </div>
  {% else %}
    <div class="poems">
      <div class="ogpoem">
        <h1 class="poemtitle" lang= "{{ page.lang }}">{{page.title}}</h1>
        <h2>{{page.author}}</h2>
        <hr />
        <pre lang="{{ page.lang }}">{{page.poem}}</pre>
        <div class="audio">
          {{page.origaudio}}
        </div>
      </div>
      <div class="transpoem">
        <h1 class="poemtitle">{{page.transtitle}}</h1>
        <h2>{{page.translator}}</h2>
        <hr />
        <pre>{{page.transpoem}}</pre>
        <div class="audio">
          {{page.translaudio}}
        </div>
      </div>
    </div>
  {% endif %}

<!--   {% assign previousIndex = page.pid | minus: 1 %} -->

{% assign path = "poems_" | append: page.edition %}

  {% for pg in site.data[path] %}

      {% if pg.pid == page.pid %}

          {% assign previousIndex = forloop.index | minus: 1 %}

          {% assign nextIndex = forloop.index | plus: 1 %}
        {% endif %}

    {% endfor %}

    {% for pg in site.data[path] %}

         {% if forloop.index == previousIndex %}
          {% assign previousPage = pg.pid %}


        {% endif %}
      
        {% if forloop.index == nextIndex %}
          {% assign nextPage = pg.pid %}
        {% endif %}
    {% endfor %}
  

  <div class="previouslink">
    <p class="link"><a href="{{site.url}}/notes_{{page.edition}}/{{previousPage}}"><  &nbsp; previous</a></p>
  </div>

  <div class="nextlink">
  {% if page.pagetype == "musing" or page.pagetype == "interview" %}
      <p class="link"><a href="{{site.url}}/poems_{{page.edition}}/{{nextPage}}">next &nbsp; ></a></p>
    {% else %}
  

      <p class="link"><a href="{{site.url}}/notes_{{page.edition}}/{{page.pid}}">next &nbsp; ></a></p>
{% endif %}
  </div>
</body>
<html>