---
layout: default
---

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/poempagestyle.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

   <title>{{page.transtitle}}</title> 

<body>
{% include navbar.html %}
    <div class="poemtags">
      <ul>
        <p class="tcontentslink link"><a href="{{site.baseurl}}/toc{{page.edition}}.html"><  &nbsp; table of contents</a></p>
        {% if page.language and page.language != "English" %}
          {% assign tags = page.language | split: ';' %}       
            {% for tag in tags %}
              <li><a href="{{site.baseurl}}/language_tags/{{tag| slugify: 'latin' | replace: '-','_'}}">{{tag}}</a></li>
            {% endfor %}
          {% endif %}
        {% if page.translator %}
          {% assign tags = page.translator | split: ';' %}       
            {% for tag in tags %}
              <li><a href="{{site.baseurl}}/translator_tags/{{tag| slugify: 'latin' | replace: '-','_'}}">{{tag}}</a></li>
            {% endfor %}
          {% endif %}
        {% if page.author %}
          {% assign tags = page.author | split: ';' %}       
            {% for tag in tags %}
              <li><a href="{{site.baseurl}}/author_tags/{{tag| slugify: 'latin' | replace: '-','_'}}">{{tag}}</a></li>
            {% endfor %}        
          {% endif %}
      </ul>
    </div>

  {% if page.pagetype == "musing" or page.pagetype == "interview" or page.pagetype == "frontmatter" %}
    <div class="container">
      <div class="note">
        <h1>{{page.transtitle}}</h1>
        <h2>{{page.author}}</h2>
        <p class="note"> {{page.note}}</p>
        {% if page.image contains "assets" %}
         <div class="image">
          {% assign images = page.image | split: '; ' %}       
            {% for image in images %}
              <img class="poem-image" src="{{site.baseurl}}{{image}}"></img>
            {% endfor %}
        {% if page.imagecredit contains "by"%}
         <p class="caption"> 
        {{page.imagecredit}}
        </p>
        {% endif %}
      </div>
      {% endif %}
      </div>
    </div>
  {% elsif page.wrapformat =="stacked" %}
    <div class="poems">
      <div class="ogpoem-stacked">
        <h1 class="poemtitle-stacked" lang= "{{ page.lang }}">{{page.title}}</h1>
        <div class="headerart">
          <img src="{{site.baseurl}}/assets/images/header_light.png" alt="line">
        </div>
        <h2>{{page.author}}</h2>
        <hr  style="max-width: 70%; margin-left:0" />
        <pre lang="{{ page.lang }}">{{page.poem}}</pre>
        {% if page.origaudio contains "." %}
          <figure style="margin-left:0px">
            <audio controls src="/assets/audio/audio_{{page.edition}}/{{ page.origaudio }}"></audio>
          </figure>
        {% endif %}
      </div>
      <div class="transpoem-stacked">
        <h1 class="poemtitle-stacked">{{page.transtitle}}</h1>
        <div class="headerart">
          <img src="{{site.baseurl}}/assets/images/header_dark.png" alt="line">
        </div>
        <h2>{{page.translator}}</h2>
        <hr style="max-width: 70%; margin-left:0"/>
        <pre>{{page.transpoem}}</pre>
        {% if page.translaudio contains "." %}
          <figure style="margin-left:0px">
            <audio controls src="/assets/audio/audio_{{page.edition}}/{{ page.translaudio }}"></audio>
          </figure>
        {% endif %}
      </div>
    </div>

   {% else %} 

   <div class="poems">
      <div class="ogpoem">
        <h1 class="poemtitle" lang= "{{ page.lang }}">{{page.title}}</h1>
        <div class="headerart">
          <img src="{{site.baseurl}}/assets/images/header_light.png" alt="line">
        </div>
        <h2>{{page.author}}</h2>
        <hr />
        <pre lang="{{ page.lang }}">{{page.poem}}</pre>
        {% if page.origaudio contains "." %}
          <figure style="margin-left:0px">
            <audio controls src="/assets/audio/audio_{{page.edition}}/{{ page.origaudio }}"></audio>
          </figure>
        {% endif %}
      </div>
      <div class="transpoem">
        <h1 class="poemtitle">{{page.transtitle}}</h1>
        <div class="headerart">
          <img src="{{site.baseurl}}/assets/images/header_dark.png" alt="line">
        </div>
        <h2>{{page.translator}}</h2>
        <hr />
        <pre>{{page.transpoem}}</pre>
        {% if page.translaudio contains "." %}
          <figure style="margin-left:0px">
            <audio controls src="/assets/audio/audio_{{page.edition}}/{{ page.translaudio }}"></audio>
          </figure>
        {% endif %}
      </div>
    </div>

  {% endif %}


<!--   {% assign previousIndex = page.pid | minus: 1 %} -->

{% assign path = "poems_" | append: page.edition %}

  {% for pg in site.data[path] %}

      {% if pg.pid == page.pid %}

          {% assign previousIndex = forloop.index | minus: 1 %}

          {% assign nextIndex = forloop.index | plus: 1 %}
        {% endif %}

      {% endfor %}

    {% for pg in site.data[path] %}

<!--     if we are on the previous page, and our current page is not frontmatter, set up the previousPage variable -->
        {% if forloop.index == previousIndex %}
          {% assign previousPage = pg.pid %}
          {% assign previousPageType = pg.pagetype %}

        {% endif %}

<!--     if we are on the previous page, and our current page IS frontmatter, set up the previousPage variable and add fixpath -->
        {% if forloop.index == previousIndex and  pg.pagetype == "frontmatter" %}
          {% assign previousPage = pg.pid %}
          {% assign fixpath = "poems_" %}
        {% endif %}

<!--     if we are on index 2, and our current page is not frontmatter, assign the editor-note pid to the previous page and the fixpath -->
        {% if forloop.index == 3 and page.pagetype != "frontmatter" %}
          {% assign previousPage = "editor-note" %}
          {% assign fixpath = "poems_" %}

        {% endif %}

<!--     if we are on index 2, and our current page IS frontmatter, assign the staff pid to the previous page and the fixpath -->
        {% if forloop.index == 2 and page.pagetype == "frontmatter" %}
          {% assign previousPage = "staff" | append: page.edition %}

        {% endif %}

        {% if forloop.index == nextIndex %}
          {% assign nextPage = pg.pid %}
        {% endif %}

    {% endfor %}



<!-- PREVIOUS BUTTON CODE --> 
  {% if fixpath == "poems_" %}

    <a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{previousPage}}"><div class="previouslink">
      <i class="fa-solid fa-chevron-left" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
    </div></a>

  {% endif %}

    {% if page.pid == "editor-note" %}
    <a href="{{site.url}}{{site.baseurl}}/frontmatter/{{previousPage}}"><div class="previouslink">
      <i class="fa-solid fa-chevron-left" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
    </div></a>

<!--   if statement for going back to previous poem, skipping note page -->    
 
 {% elsif previousPageType == "frontmatter" %}
  <a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{previousPage}}"><div class="previouslink">
    <i class="fa-solid fa-chevron-left" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
  </div></a>
        

 {% elsif page.sequence == "middle" or page.sequence == "last" %}
  <a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{previousPage}}"><div class="previouslink">
    <i class="fa-solid fa-chevron-left" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
  </div></a>
        
    {% else %}

  <a href="{{site.url}}{{site.baseurl}}/notes_{{page.edition}}/{{previousPage}}"><div class="previouslink">
    <i class="fa-solid fa-chevron-left" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
  </div></a>

  {% endif %}


<!-- NEXT BUTTON CODE -->  
 {% if page.pagetype == "frontmatter" %}
  <a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{nextPage}}"><div class="nextlink">
      <i class="fa-solid fa-chevron-right" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
    </div></a>

<!--   if statement for going to next poem page, skipping notepage -->    
{% elsif page.sequence == "first" or page.sequence == "middle" %}
         <a href="{{site.url}}{{site.baseurl}}/poems_{{page.edition}}/{{nextPage}}"><div class="nextlink">
          <i class="fa-solid fa-chevron-right" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
          </div></a>

    {% else %}

    <a href="{{site.url}}{{site.baseurl}}/notes_{{page.edition}}/{{page.pid}}"><div class="nextlink">
      <i class="fa-solid fa-chevron-right" style="font-size:40px;margin-top:40vh; margin-bottom:40vh; color:#A0998D;"></i>
    </div></a>

    {% endif %}
  
</body>
</html>
