---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/tcontentsstyle.css">
      
</head>

   <title>{{page.pid}}</title>

<body>
{% include navbar.html  %}
<div class="tcontents">
<h3><a href="{{site.baseurl}}/contentindex.html"><  &nbsp; back to index</a></h3>
<h1 class="tcontents-title">{{page.pid}}</h1>
<div class="toc-container">
  <div class="left">

    {% for issues_hash in site.data.issues %}
    {% assign issues = issues_hash[1] %}
   {% for poem in issues %}
<!--          look in the language spreadsheet
 -->    

        {% if page.type == "language" %}
            {% if poem.language == page.pid %}
            <div class="tcleft">
              <h2 class="tcleft"><a href="{{site.baseurl}}/poems_{{poem.edition}}/{{poem.pid}}">{{poem.transtitle | capitalize}}</a></h2><br>
              <h3 class="tcleft">written by {{ poem.author }}<br>translated from {{ poem.language }} by {{ poem.translator }}</h3>
            </div>
            {% endif %}
            {% endif %}
<!--          look in the author spreadsheet
 -->    {% if page.type == "author" %}
            {% if poem.author == page.pid %}
            <div class="tcleft">
              <h2 class="tcleft"><a href="{{site.baseurl}}/poems_{{poem.edition}}/{{poem.pid}}">{{poem.transtitle | capitalize}}</a></h2>
              <h3 class="tcleft">written by {{ poem.author }}<br>translated from {{ poem.language }} by {{ poem.translator }}</h3>
            </div>
            {% endif %}
            {% endif %}
<!--          look in the translator spreadsheet
 -->    {% if page.type == "translator" %}
            {% if poem.translator == page.pid %}
            <div class="tcleft">
              <h2 class="tcleft"><a href="{{site.baseurl}}/poems_{{poem.edition}}/{{poem.pid}}">{{poem.transtitle | capitalize}}</a></h2><br>
              <h3 class="tcleft">written by {{ poem.author }} <br>translated from {{ poem.language }} by {{ poem.translator }}</h3>
            </div>
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>


</body>
<html>
